#d {
    display: flex;
    position: relative;
    margin-bottom: 5px;
    gap: 5px;
}

.b {
    all: unset;
    font-size: 20px;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        sans-serif;
    font-weight: bold;
    background-color: #282930;
    color: white;
    padding: 3px 9px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    transform: scale(1);
    transition:
        background-color 0.2s ease,
        color 0.2s ease,
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

.b:disabled {
    transform: scale(0.95);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    background-color: #28293080;
    cursor: not-allowed;
}

.b:not(:disabled):hover {
    color: #282930;
    background-color: #ffffff;
    transform: scale(1.05);
    cursor: pointer;
}

.t {
    all: unset;
    font-weight: 600;
    font-size: 20px;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        sans-serif;
    color: #282930;
}

.t:hover {
    cursor: default;
}

.i {
    all: unset;
    font-weight: 400;
    border-radius: 5px;
    padding: 3px 9px;
    background-color: #f0f0f0;
    outline: 1px solid #cccccc;
    transition:
        background-color 0.2s ease,
        outline 0.1s ease;
}

.i:hover {
    background-color: #f7f7f7;
    outline: 2px solid #a3a3a3;
    cursor: text;
}
